#imgMin{
    width:200px;
    height: 136px;
}
.contenedor {
    opacity: 0.9;
}
.btn-default {
    float: right;
} 

.btn-default:hover, .btn-default:active {
    background-color: black;
    color: white;
}
#txt {
    color: white;
    padding-top: 15px;
}

#aMenu {
    text-align: right;
}
