#imgMin{
    width:200px;
    height: 136px;
}
.btn-default {
    margin-bottom: 1%;
    margin-left: 75%;
}
#row {
    padding-left: inherit;
    padding-right: inherit;
}
.btn-default:hover,.btn-default:active {
    background-color: black;
    color: white;
}
#txt {
    color: white;
    padding-top: 15px;
}

#aMenu {
    text-align: right;
}
